/* NAVBAR */
#header-img {
  min-height: 160px;
  min-width: 300px;
}

.content {
  margin-top: -30px;
  color: #edb852;
}

.score {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* Card */
.header {
  text-align: center;
}
